# PostgreSQL Database
DATABASE_URL="postgresql://postgres:123456@127.0.0.1:5432/my_pqdb"

# JWT
JWT_SECRET_KEY="YOUR_SUPER_SECRET_KEY"

# Application Port
PORT=3030

# MQTT Broker
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME="YOUR_MQTT_USERNAME"
MQTT_PASSWORD="YOUR_MQTT_PASSWORD"
